body {
  --bgLight: #263238;
  --bgDark: #1f292e;
  --text: #c3cee3;
  --textDark: #82b6cc;
  --textEmphasis: #314549;
  --border: #37474f;
  --buttonBg: #314147;
  --buttonBgDisabled: #273339;
  --nodePlaying: #c3e88d;
  --nodeActive: #f07178;
  --nodeWarm: #f78c6c;
  --nodeInactive: #c3cee3;
  --edgePlaying: #c3e88d;
  --edgeActive: #f07178;
  --edgeWarm: #f78c6c;
  --edgeInactive: #c3cee3;
  --pendingLoadText: #c3e88d;
  --loadingBarBG: #c3cee3;
  --loadingBarFG: #c3e88d;
  --loadingBarText: #1f292e;
}


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: #c3e88d;
}

a:active {
  color: #c3e88d;
}

a:visited {
  color: #c3e88d;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}